* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;;
    box-sizing: border-box;
}

.body, html{
    width: 100%;
    min-height: 100vh;
    background: #ff00cc;
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);
    background: linear-gradient(to right, #333399, #ff00cc);
}

/* TASK FORM START */

.taskEntry{
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    background-color: #ffffff;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.taskEntry h1{
    text-align: center;
}

.taskEntry form{
    display: flex;
    flex-direction: column;
}


#title{
    margin: 10px;
    background-color: #efefff;
    border: none;
    outline: hidden;
    padding: 20px 280px 20px 20px;
    border-radius: 10px;
}

#description{
    margin: 10px;
    background-color: #efefff;
    border: none;
    outline: hidden;
    padding: 20px 300px 80px 20px;
    border-radius: 10px;
    resize: none;
}

.date__label{
    margin: 10px;
}

#dueDate{
    margin: 10px;
    background-color: #efefff;
    border: none;
    outline: hidden;
    padding: 20px 315px 20px 20px;
    border-radius: 10px;
}

.priority__label{
    margin: 10px;
}

.category__label{
    margin: 10px;
}

.priority__list{
    margin: 10px;
}

#category{
    margin: 10px;
    background-color: #efefff;
    border: none;
    outline: hidden;
    padding: 20px 280px 20px 20px;
    border-radius: 10px;
}

#Add__task__button{
    width: 460px;
    height: 50px;
    margin: 10px;
    border: none;
    outline: hidden;
    background: linear-gradient(to right, #333399, #ff00cc);
    color: #ffffff;
    font-weight: 600;
    border-radius: 10px;
}

/* TASK FORM END */

#taskList{
    width: 100%;
    margin-top: 100px;
    background-color: #efefff;
}

.tasklist__title tr th{
    padding: 20px;
    border-bottom: 1px solid #707070;
}

/* SHOW TASK */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}

#view__button{
    width: 80px;
    height: 40px;
    background-color: #333399;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #efefff;
}

#edit__button{
    width: 80px;
    height: 40px;
    background-color: #000000;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #efefff;
}

#delete__button{
    width: 80px;
    height: 40px;
    background-color: #c90707;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #efefff;
}

#complete__button{
    width: 120px;
    height: 40px;
    background-color: #339952;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #efefff;
}
